
.html-editor {
  width: 100%;

  .DraftEditor-root {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 16px;

    // make sure that we have enough to click on if it's empty
    .public-DraftEditor-content {
      min-height: 500px;
    }
  }
}
