
.html-editor {
  width: 100%;

  .DraftEditor-root {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 16px;

    // make sure that we have enough to click on if it's empty
    .public-DraftEditor-content {
      min-height: 500px;
    }

    .public-DraftStyleDefault-pre {
      pre, div {
        font-family: Consolas, Liberation Mono, Menlo, monospace !important;
        font-size: 16px !important;
        border: none;
        padding: 0;
        margin: 0;
      }
    }

    h1 {
      font-size: 1.8em !important;
      font-weight: bold;
    }
    h2 {
      font-size: 1.4em !important;
      font-weight: bold;
    }
    h3 {
      font-size: 1.2em !important;
      font-weight: bold;
    }
    h4 {
      font-size: 1.1em !important;
      font-weight: bold;
    }
  }
}
