@import (reference) "../../../style/variables.less";

.html-editor {
  width: 100%;

  .DraftEditor-root {
    @font-size: 16px;
    @code-font-size: 14px;

    .code() {
      font-family: Consolas, Liberation Mono, Menlo, monospace !important;
      font-size: @code-font-size !important;
      background-color: #f5f5f5;
      color: #000;
    }

    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: @font-size;

    // make sure that we have enough to click on if it's empty
    .public-DraftEditor-content {
      min-height: 500px;
    }

    .public-DraftStyleDefault-pre {
      pre, div {
        .code();
        border: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }
    }

    // inline code
    // see https://github.com/facebook/draft-js/issues/2302
    span[style*="text-decoration-color: black"] {
      .code();
      text-decoration: none;
      padding: 3px;
    }

    h1 {
      font-size: 1.8em !important;
      font-weight: bold;
    }
    h2 {
      font-size: 1.4em !important;
      font-weight: bold;
    }
    h3 {
      font-size: 1.2em !important;
      font-weight: bold;
    }
    h4 {
      font-size: 1.1em !important;
      font-weight: bold;
    }
    a {
      text-decoration: underline;
      color: @exomind-orange;
      &:hover {
        color: @exomind-orange;
        cursor: pointer;
      }
    }
  }
}
