
@import (reference) "../../../style/mixins.less";

.node-config {
  .center-horizontal-element();
  .make-row();
  .make-md-column(8);

  .discovery {
    margin: 30px 0;

    .text, .pin {
      font-size: 20px;
    }

    .pin {
        font-weight: bold;
    }
  }

  .error {
      color: red;
  }
}