
.editable-text {
  width: 100%;
  min-height: 12px;
  display: inline-block;
  color: var(--body-fg);

  .empty {
    font-style: italic;
  }

  input {
    width: 100%;
    color: var(--body-fg);
  }
}