@import "~bootstrap/less/variables";

@exomind-primary: #0F76C4;
@exomind-secondary: #E09626;

@navbar-bg: #3D434F;
@navbar-fg: #FFFFFF;
@navbar-height: 40px;

@body-bg: #E2E2E2;

@tools-popup-bg: #404040;

@entity-component-border: 1px solid #D3D3D3;
@entity-component-list-separator-border-color: #ebebeb;
@entity-component-list-separator-border: 1px solid @entity-component-list-separator-border-color;
@entity-component-padding-side: 5px;
@entity-component-padding-between: 5px;
@entity-component-min-width: 250px;
@entity-component-bg: #FFFFFF;
@entity-component-bg-selected: #e1e2d9;
@entity-component-bg-done: #5CB296;
@entity-component-bg-hover: #F0F0F0;
@entity-component-bg-disabled: #F3F3F3;
@entity-component-drag-placeholder-bg: #D3D3D3;
@entity-component-header-bg: #F5F5F5;
@entity-component-header-fg: #6A6A6A;
@entity-component-header-actions-fg: #6A6A6A;
@entity-component-header-actions-hover-fg: @exomind-secondary;
@entity-component-header-height: 35px;
@entity-component-header-border: 1px solid #E0E0E0;

@entity-component-item-actions-icon-fg: #6A6A6A;
@entity-component-item-actions-icon-hover-fg: @exomind-secondary;

@entity-component-children-type-switcher-border: 1px solid @exomind-primary;
@entity-component-children-type-switcher-hover-bg: fadeout(black, 90%);
@entity-component-children-type-switcher-normal-fg: @exomind-primary;
@entity-component-children-type-switcher-active-bg: @exomind-primary;
@entity-component-children-type-switcher-active-fg: white;

@entity-component-field-pill-fg: #490A3D;
@entity-component-field-pill-bg: rgba(233, 127, 2,  0.3);

@entity-component-bubble-email-bg: #A9CBD1;
@entity-component-bubble-note-bg: #939FC5;
@entity-component-bubble-collection-bg: #E7CE94;

@object-color-1: #A9CBD1;
@object-color-2: #E9BD9D;
@object-color-3: #E7CE94;
@object-color-4: #939FC5;
@object-color-5: #A0BA82;
@object-color-6: #A4C7F0;
@object-color-7: #C5AB94;
@object-color-8: #A7F1E0;
@object-color-9: #E3C4FE;
@object-color-10: #FEC4C4;

@hamburger-width: 175px;
@hamburger-bg: #DDDDDD;
@hamburger-active-bg: #CCCCCC;
@hamburger-active-fg: @exomind-primary;
@hamburger-items-text-color: #6A6A6A;
@hamburger-items-action-text-color: #FFFFFF;
@hamburger-items-separator: 1px solid #D5D5D5;